a{
    color:#1a0dab;
    font-size:12px;
}
.form-control{
    border:none;
}
.form-control:focus,
.form-control:active,
.form-control:active:focus{
    outline:none;
    box-shadow: none;
}
.input-group .form-control{
    border-radius:50px;
}
.input-group .input-group-prepend .btn{
    color:#dedede;
}
.input-group{
    border-radius:50px;
    box-shadow: 0 0px 0px rgba(0,0,0,0), 0 0px 3px rgba(0,0,0,0.24);
}
span.twitter-typeahead .tt-menu {
    cursor: pointer;
  }
  
  .dropdown-menu, span.twitter-typeahead .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 110%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 0px 0px rgba(0,0,0,0), 0 5px 3px rgba(0,0,0,0.24);
    top: -2px;
    border-radius: 0.25rem; }
  
  span.twitter-typeahead .tt-suggestion {
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0; }
  span.twitter-typeahead .tt-suggestion:focus, .dropdown-item:hover, span.twitter-typeahead .tt-suggestion:hover {
      color: #2b2d2f;
      text-decoration: none;
      background-color: #f5f5f5; }
  span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
      color: #fff;
      text-decoration: none;
      background-color: #0275d8;
      outline: 0; }
  span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
      color: #818a91; }
  span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
      text-decoration: none;
      cursor: not-allowed;
      background-color: transparent;
      background-image: none;
      filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
  span.twitter-typeahead {
    width: 90%; }
    .input-group span.twitter-typeahead {
      display: block !important; }
      .input-group span.twitter-typeahead .tt-menu {
        top: 2.375rem !important; }

.pad0image{
    height:150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.result h6{
    margin: 0;
    line-height: 20px;
}
.result h6 a{
    font-size: 18px;
}
.result .text-success{
    font-size: 14px;
}
.result p{
    font-size: small;
    font-family: arial,sans-serif;
    color: #545454;
}
.nav-pills .nav-item .nav-link{
    color: #9e9e9e;
}
.nav-pills .nav-item .nav-link.active{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid #0275d8;
    border-radius: 0;
    color:#0275d8;
}
.brand{
    font-size: 1.5em;
    color: #9f9f9f;
    display: inline;
}
.card{
    border-radius:0;
    border:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.video-image{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-position: center;
    cursor: pointer;
    background-size: cover;
}
.video-image .item{
    position: absolute;
    left:0;
    top:0px;
    width:100%;
    font-size: 13px;
    color: #fff;
    height: 20px;
    padding:0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.video-image:hover > .item{
    display: block;
}
.video-image .play{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    width:100%;
    height:40px;
    font-size: 30px;
}