<head>
  <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
  <link href="tube.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,800,900|Material+Icons" rel="stylesheet">
  <title>A Robotic Video to be played</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-info py-0 border-bottom">
  <a class="navbar-brand" href="#"><span class="text-danger">B</span>ot<span class="text-danger">P</span>lay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="mx-2 my-auto d-inline w-100">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="">
    </div>
</form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="material-icons">perm_identity</i></a></li>
    </ul>
  </div>
</nav>
<main class="py-1">
  <div class="container-fluid m-0">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <video id="my-video" class="video-js tubecss" controls preload="auto" data-setup='"controls": true, "autoplay": true, "preload": "auto"' autoplay>
          <source src="videos/Robot_Conspiracy_2.mp4" type='video/mp4'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
        <div class="p-2">
          <strong class="text-black-50">1,28,450 views</strong>
          <div class="float-right">
            <button class="btn btn-secondary sub-button btn-sm">Joined</button>
            <a href="#" class="px-2 text-info"><i class="material-icons">thumb_up</i> 15,154</a>
            <a href="#" class="px-2 text-black-50"><i class="material-icons">thumb_down</i> 84</a>
          </div>
          <h4> <strong>RECOGNISE THE ENEMY </strong></h4>
          <p class="text-black-50">Uploaded on 12 Jan 2015</p>
          <small class="text-black-50">Have you ever met someone with a nervous twitch? Of course you have. But what you don’t realise is that, that has nothing to do with nerves, but bad wiring and programming. You mean to tell me that something like Tourette’s isn’t like a malfunctioning machine? Their latex shells are equally impressive . </small>
        </div>
      </div>
      <div class="col-sm-12 col-md-12">
      </div>
    </div>
  </div>
</main>
  
  <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>
</body>